@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}



header{
    width: 100%;
    height: 100px;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 100;
    background-color:#b5d7f5;
}

.contenedor__header{
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;
}

header .logo{
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.logo img{
    width: 82px;
}

.contenedor__nav{
    position: relative;
    height: 100%;
}

nav{
    height: 100%;
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul a{
    color:black;
}
nav ul li{
    margin: 0px 20px;
    list-style: none;

}

.select{
    background-color: #359ef9;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
    box-shadow: 0.5px 1px 20px -5px gray;
    cursor: pointer;
   transition:box-shadow 500ms;    
}

ul .select:hover{
    box-shadow: 0.5px 1px 20px -5px rgb(65, 65, 65);
}

/* MISION Y VISION*/

.info__about{
    max-width: 700px;
    height: 100%;
    padding-top: 200px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    top: 0%;
    right: 0%;
    justify-content: space-between;
    margin: auto;
}
.mision{
    max-width: 300px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-style:solid  ;
    border-width:3px ;
    border-radius: 10px;
    
}

.mision h1{
    color: rgba(199, 56, 63, 0.842);
    font-size:50px;
    margin-left:40px;
}
.mision p{
    font-size: 20px;
    font-weight: 500;
    margin-left: 40px;
    
    
}

.vision{
     max-width: 330px;
     padding-bottom: 30px;
     padding-top: 30px;
     border-style:solid;
     border-width:3px ;
     border-radius: 10px;

}

.vision h1{
    color: rgba(199, 56, 63, 0.842);
    font-size: 50px;
    margin-left: 60px;
   
}
.vision p{
    font-size: 20px;
    font-weight: 500;
    margin-left: 22px;
   
}

.valores{
    max-width: 700px;
    height: 100%;
    padding-top: 200px;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    margin: auto;
    padding-top: 100px;
    display: flex;
}


.valores h1{
    margin-left: 40px ;
    font-size: 40px;
    font-weight: 800;
    color: rgba(199, 56, 63, 0.842);
}
.valores li{
    padding-top: 12px;
    padding-bottom: 57px;
    margin-left:40px ;
    font-size: 20px;
    font-weight:500;
}

.principios{
    padding-left:  100px;
}