@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: 100px;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 100;
    background-color: #94c9f7;
}

.contenedor__header{
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;
}

header .logo{
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.logo img{
    width: 80px;
}

.contenedor__nav{
    position: relative;
    height: 100%;
}

nav{
    height: 100%;
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul a{
    color:black;
}
nav ul li{
    margin: 0px 20px;
    list-style: none;

}

ul .shadow:hover{
    box-shadow: 1px 8px 1px -5px rgb(105, 5, 5);
    transition: 400ms;
}



.select{
    background-color: #359ef9;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
    box-shadow: 0.5px 1px 20px -5px rgb(187, 187, 187);
    cursor: pointer;
   transition:box-shadow 500ms;    
}
ul .select:hover{
    box-shadow: 0.5px 1px 20px -5px rgb(65, 63, 63);
}


.nav_mod{
    height: 700px;
    box-shadow: 1px 1px 10px 0px black;
    background-color: white;
}

/*----------------------------------------------------*/

.cover{
    width: 100%;
    padding-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
   
}

.contenedor__cover{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}


.contenedor__info{
    max-width: 1200px;
    margin-top: 40px;
    z-index: 2%;
}

.cover h1{
    max-width: 400px;
    font-size: 50px;
    font-weight: 900;
    color: #373737;
}

.cover h2{
    max-width: 400px;
    font-size: 40px;
    font-weight: 900;
    color: rgb(212, 140, 7);
    
}

.contenedor__cover{
    max-width: 1200px;
    margin: auto;
}

.contenedor__vector{
    position: relative;
}

.contenedor__vector img{
    position: absolute;
    right: 20px;
    width: 600px;
    animation: move_vector 6s ease-in-out infinite;
}

@keyframes move_vector {
    0%{
        transform: translateY(10px);
     }
     25%{
        transform: translateY(-10px);
     }
     100%{
        transform: translateY(10px);
     }
}

.contenedor__datos h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-left: 30%;
    margin-top: 100px;
}

.h1_{
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
}

.contenedor__datos{
    margin-top: 100px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
}
.tema h1{
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
    margin-left: 30%;
    position: relative;
}

.img__desarrollo{
    margin-top: 50px;
    position: relative;
}

.img__desarrollo img{
    position: relative;
    width: 600px;
    padding-left: 44%;

}

.info p{
    margin-left: 10px;
    font-weight:460;
    font-size: 22px;
    margin-right:400px;
}

.img__desarrollo2{
    margin-top: 50px;
    position: relative;
}

.img__desarrollo2 img{
    position: relative;
    width: 600px;
    padding-left: 44%;
    padding-bottom: 100px;

}

.info2 p{
    margin-top:-70px;
    margin-left: 10px;
    font-weight:460;
    font-size: 22px;
    margin-right:400px;
}

